// colors
$white: #FFFFFF;
$lynx-white: #F7F7F7;
$light-orange: #F3B756;
$black: #676767;
$red: #E92727;
$yellow: #F4D73A;
$green: #7FEA3E;

$primary-color: $light-orange;
$secondary-color: $lynx-white;
$text-color: $black;

// font
$font-size-base: 16px;

// button & form border
$default-border-radius: 4px;