.livemode{
    &__content{
        display: flex;
        flex-direction: column;

        @include breakpoint ('table'){
            flex-direction: row;
        }
    }

    &__left{
        @include breakpoint ('table'){
            width: 70%;
        }
    }

    &__right{
        @include breakpoint ('table'){
            width: 30%;
        }
    }

    &__header{
        text-align: center;
        color: $primary-color;
        @include type ('h1', 'phone', 600);

        @include breakpoint ('table'){
            @include type ('h1', 'table');
        }
    }

    &__timeline{
        margin-top: 1rem;
    }

    &__card{
        display: flex;
        margin: 0.5rem 1rem;
        padding: 1rem 0;
        border-bottom: 1px solid $black;

        &--left{
            height: 3rem;
            width: 3rem;
            background-color: $red;
            border-radius: 50%;
            margin-right: 1rem;
            // display: inline-block;
        }

        &--danger{
            background-color: $red;
        }

        &--risk{
            background-color: $yellow;
        }

        &--safe{
            background-color: $green;
        }
    }
}